.home-page-announcements {
    width: 100%;
    min-height: 300px;
    height: 450px;
    background-image: url('/images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;
    position: relative; /* Needed for absolute positioning */
    overflow: visible; /* Ensure the title + carousel are visible */

    .announcements-title-carousel-wrapper {
        position: relative;
        top: -120px; /* Moves it outside of .home-page-announcements */
        width: 100%;
      }

    h2 {
        font-size: 35px;
        text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    }

    &-carousel {
        padding: 30px;
        width: 100%;

        &-item {
            width: 100%;
            display: flex !important;
            justify-content: space-evenly;
            gap: 10px;
        }
    }

    &-container {
        width: 100%;
    }
}
